<section id="top">
  <div class="top-title-img">
    <div class="top-title-contents">
      <h1>3分で作れる<br>ズボラ飯レシピ</h1>
      <div>
        <%= link_to  'ズボラ検索する', search_path ,:class => "search-button"%>
        <%= image_tag("search.svg", :alt=>"検索") %>
      </div>
    </div>
  </div>
  <div class="contents">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <div class="tile">
          <% if recipe.status == "cho_zubora" %>
            <%= image_tag("cho.svg", :alt => "超ズボラ", :class=>"cho-icon") %>
          <% end %>
          <%= image_tag("#{recipe.image}", :alt => "肉じゃがの画像") %>
          <p><%= recipe.name %></p>
        </div>
      <% end %>
    <% end %>
    <div class="do-not-select">
      <p>ズボラ過ぎて</p>
      <p>選べない</p>
    </div>
  </div>
</section>
