<article id="recipes-index">
  <%= image_tag(@recipe.image, alt: "recipe_img")%>
  <h1><%= @recipe.name %></h1>
  <section class="source">
    <h2 class="source-title">食材（1人分）</h2>
    <% @recipe.ingredients.each do |ingredient| %>
      <ul>
        <li>
          <span class="name"><%= ingredient.name %></span>
          <span class="amount"><%= ingredient.quantity %></span>
        </li>
      </ul>
    <% end %>
  </section>
  <section class="recipes">
    <h2 class="recipes-title">レシピ</h2>
    <% @recipe.instructions.each do |instruction| %>
      <ul>
        <li><%= "#{instruction.sort_order}. #{instruction.body}" %></li>
      </ul>
    <% end %>
  </section>
</article>
